@page "/"
@rendermode InteractiveServer

<PageTitle>Shape Transformer</PageTitle>

<p>Five circles start in the top-left quadrant. When a shape is dragged into a quadrant, it transforms into the shape associated with that quadrant. </p>

<div class="board">
    <div class="quadrant">
        <h2>Top Left</h2>
        <p>Circle</p>
    </div>

    <div class="quadrant">
        <h2>Top Right</h2>
        <p>Hexagon</p>
    </div>

    <div class="quadrant">
        <h2>Bottom Left</h2>
        <p>Square</p>
    </div>

    <div class="quadrant"
        <h2> Bottom Right</h2>
        <p>Triangle</p>
</div>

Welcome to your new app.
